{% extends 'HackzillaPasswordGeneratorBundle::layout.html.twig' %}

{% block layout %}
    <h2>Create Passwords</h2>
    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_rest(form) }}

        <input type="submit" value="Generate">
        <input type="reset" value="Reset">
    {{ form_end(form) }}

    {% if passwords %}
        <div class="passwords">
            <h2>Passwords</h2>
            <ul>
            {% for password in passwords -%}
                <li>{{ password }}</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock layout %}
