{% extends '@HackzillaPasswordGenerator\\Generator\\' ~ mode ~ '-layout.html.twig' %}

{% block form %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_rest(form) }}

    <div class="actions">
        <input type="submit" class="btn btn-primary" value="{{ 'BUTTON_GENERATE'|trans }}">
        <input type="reset" class="btn btn-danger" value="{{ 'BUTTON_RESET'|trans }}">
    </div>
    {{ form_end(form) }}

    {% if error %}
        <div class="alert alert-warning" role="alert">
            <strong>{{ 'ERROR_HEADING'|trans }}</strong>&nbsp;

            {%- if error == 'CharactersNotFoundException' %}
                {{ 'ERROR_CHARACTERS_NOT_FOUND_EXCEPTION'|trans }}.
            {% else %}
                {{ 'ERROR_UNKNOWN'|trans }}.
            {% endif -%}
        </div>
    {% endif %}

    {% if passwords %}
        <div class="passwords">
            <h2>{{ "HEADING_PASSWORDS"|trans }}</h2>
            <ul>
                {% for password in passwords -%}
                    <li>{{ password }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock form %}
